<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.blog.dmlgusthd.BoardMapper">
	<insert id="boardAdd" 
			parameterType="com.blog.dmlgusthd.service.Board">
		INSERT INTO board(
			board_pw, 
			board_title, 
			board_content, 
			board_user, 
			board_date) 
		values(
			#{boardPw},
			#{boardTitle},
			#{boardContent},
			#{boardUser},
			now())
	</insert>
	<select id="selectTotalBoardCount" resultType="int">
		SELECT 
			COUNT(*) 
		FROM board
	</select>
	<select id="selectBoardListPerPage" parameterType="Map"
			resultType="com.blog.dmlgusthd.service.Board">
			SELECT 
				board_no as boardNo,
				board_title as boardTitle,
				board_user as boardUser,
				board_date as boardDate
			FROM board 
			ORDER BY board_date DESC 
			LIMIT #{beginRow},#{pagePerRow}		
	</select>
	
</mapper>